<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE hibernate-configuration PUBLIC>


<hibernate-configuration>
    <session-factory>

            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/test_hibernate"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value=""/>
            <property name="hibernate.archive.autodetect" value="class"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hbm2ddl.auto" value="update"/>
    </session-factory>
</hibernate-configuration>
